<body>
  <div class="header">
    <p class="logo">Y-WALLET</p>
  </div>
<div class="topnav">
  <a href="/wallets">Wallets</a>
  <a href="/transactions">Transactions</a>
  <a href="/user/:id">Profile</a>
  <a (click)="logout()" class="log_out">Logout</a>
</div>
<section class="container">
  <div class="user_container">
  <form class="form2" (submit)="editUser(Email, Firstname, Lastname, Password)">
    <h2>Edit user</h2>
    <label>Email:</label>
        <input type="email" name="email" placeholder="Email" value="{{email}}" #Email/>
    <label>First Name:</label>
    <input type="text" name="first_name" placeholder="Max" value="{{firstname}}" #Firstname/>
    <label>Last Name:</label>
    <input type="text" name="last_name" placeholder="Jordand" value="{{lastname}}" #Lastname/>
    <label>Password:</label>
    <input type="password" name="password" placeholder="password" value="{{password}}" #Password/>
    <div class="mt-30">
        <button type="submit" class="button">
                            Edit
        </button>
        <button type="button"  onclick="location.href = '/user/:id'" class="button">
                            Cancel
        </button>
    </div>
  </form>
  </div>
</section>
</body>
