<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="styles/style1.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register</title>
</head>

<body>
    <div class="header">
        <p class="logo">Y-WALLET</p>
    </div>
    <div class="container" >
        <div class="form-container sign-container">
            <form>
                <h1>Sign up</h1>
                <ul id="form-messages"></ul>
                <input type="email" placeholder="Email" id="email" name="email"/>
                <input type="text" placeholder="First Name" id="first_name" name="first_name"/>
                <input type="text" placeholder="Last Name" id="last_name" name="last_name"/>
                <input type="password" placeholder="Password" id="password" name="password"/>
                <button type="submit" id="btn-submit" onclick="location.href='profile.html'">Sign Up</button>
                <a href="login.html">
                    <p >Login</p>
                </a>
                <script src="js/register.js"></script>
            </form>

        </div>
    </div>

    <footer></footer>
</body>

</html>