<body>
    <div class="header">
        <p class="logo">Y-WALLET</p>
    </div>
    <div class="topnav">
      <a href="/wallets">Wallets</a>
      <a href="/transactions">Transactions</a>
      <a href="/user/:id">Profile</a>
      <a (click)="logout()" class="log_out">Logout</a>
    </div>
    <section class="container">
        <div class="user_container">

            <form (submit)="createwallet(walletName, fundsIn)"  class="form2">
                <h2>Create wallet</h2>
                <label class="m">Wallet name:</label>
                <input type="text" name="name" placeholder="Wallet 1" id="name" #walletName/>
                <label class="m">Wallet number:</label>
                <p>1234 5678 9012 2345</p>
                <label class="m">Funds $:</label>
                <input type="text" id="funds" name="funds" placeholder="300" #fundsIn/>

                <div class="mt-30">
                    <button type="submit" class="button">
                                        Create
                    </button>
                    <button type="button"  onclick="location.href = '/wallets'" class="button">
                                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </section>
</body>
