@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

html,
body {
    color: #1b1b1b;
    font: 100% Montserrat, sans-serif;
    min-height: 100%;
    height: 100%;
}

body {
    background: linear-gradient(#9084B2, #6A71BA, #9084B2);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* Style the top navigation bar */
.topnav {
    float: left;
    margin-top: 30px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 16px;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
      margin-top: 20px;
        float: none;
        width: 100%;
    }

}

.header {
    position: absolute;
    top: 0;
    background-color: #1c1c1c;
    height: 10%;
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.logo {
    position: relative;
    font-weight: bold;
    color: #f6f5f7;
    text-align: center;
    display: block;
    margin-top: 2%;
}

@media screen and (max-height: 500px) and (min-height: 200px) {
    .logo {
        font-size: 80%;
        font-weight: 200;
        border-width: 1.5px;
        margin-left: -3px;
    }
}

@media screen and (max-height: 700px) and (min-height: 500px) {
    .logo {
        font-size: 145%;
        font-weight: 650;
        border-width: 4px;
        margin-left: -7px;
    }
}

@media screen and (max-height: 900px) and (min-height: 700px) {
    .logo {
        font-size: 160%;
        font-weight: 600;
    }
}

h1 {
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    margin: 25px;
}

h3 {
    margin: 20px;
    color: rgba(0, 0, 0, 0.7);
    width: 200px;
}

.p_new {
    font-size: 18px;
    font-weight: bold;
    color: #494949;
    margin: 10px;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.m {
    margin: 8px;
    font-weight: bold;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 10px 0;
    font-weight: bold;
}

button {
    border-radius: 20px;
    border: 1px solid #4D528B;
    background-color: #4D528B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    margin-top: 10px;
    margin-left: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.form2 {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    height: 100%;
    width: 100%;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 10px 0;
    width: 100%;
}

.container {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 450px;
    max-width: 100%;
    min-width: 250px;
    min-height: 480px;
}

.user_container {
    position: relative;
    height: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.log_out {
    border-bottom: 1px solid white;
}
